header {
  display: flex;
  padding: 19px 80px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 50px;
}

.header-name {
  width: 150px;
  height: 28px;
}

.header-components {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header-bigname {
  width: 65px;
}

.header-components span {
  margin-top: 5px;
  margin-right: 32px;
  color: #656565;
  font-size: 13px;
}

.header-components img {
  width: 100px;
  height: 25px;
  margin-right: 20px;
}

.header-components__classroom {
  display: flex;
  height: 32px;
  width: 130px;
  background-color: #FFDB00;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.badge {
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #FFDB00;
  border-radius: 50%;
  left: -7px;
  top: 0px;
}

.header-components__name {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}